<div class="background_main">
  <div class="container pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        
        <%= image_tag ("logo_afadi.png"), class: "img-responsive logo_afadi" %> 
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <h1 id="main-text" class="display-5 mb-4"> <%= t("landing.virtual-learning").html_safe %></h1>
      </div>

    </div>
  </div>
</div>